USE [DuAnBanSua_MilkFE]
GO
/****** Object:  Table [dbo].[DongSanPham]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongSanPham](
	[maDongSanPham] [int] IDENTITY(1,1) NOT NULL,
	[tenDongSanPham] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDongSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDonHang] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [int] NULL,
	[maNhanVien] [varchar](50) NULL,
	[maHinhThucThanhToan] [int] NULL,
	[trangThai] [bit] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayTao] [date] NULL,
	[phiKhac] [float] NULL,
	[tienHang] [float] NULL,
	[tienGiam] [float] NULL,
	[tongTien] [float] NULL,
	[loaiDonHang] [int] NULL,
	[dienThoai] [varchar](50) NULL,
	[diaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[maDonHangChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maDonHang] [int] NOT NULL,
	[maSanPhamChiTiet] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
	[giaTriGiam] [float] NOT NULL,
	[donViGiam] [varchar](10) NULL,
	[giaGiam] [float] NULL,
	[tongGia] [float] NOT NULL,
	[trangThai] [bit] NULL,
	[traHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHangChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[maDonViTinh] [int] IDENTITY(1,1) NOT NULL,
	[tenDonViTinh] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[maHinhThucThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[tenHinhThucThanhToan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHinhThucThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[soDienThoai] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[diem] [float] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayDangKy] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [varchar](15) NOT NULL,
	[tenChuongTrinh] [nvarchar](50) NOT NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[trangThai] [bit] NULL,
	[donViGiam] [varchar](15) NOT NULL,
	[giaTriGiam] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMaiSanPham]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMaiSanPham](
	[maKhuyenMaiSanPham] [int] IDENTITY(1,1) NOT NULL,
	[maKhuyenMai] [varchar](15) NOT NULL,
	[maSanPhamChiTiet] [int] NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[maLoaiHang] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiHang] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[soDienThoai] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[hinhAnh] [varchar](100) NOT NULL,
	[VaiTro] [bit] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nvarchar](20) NOT NULL,
	[tenSanPham] [nvarchar](255) NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[trangThai] [bit] NOT NULL,
	[maThuongHieu] [int] NOT NULL,
	[maLoaiHang] [int] NOT NULL,
	[maDongSanPham] [int] NOT NULL,
	[maXuatXu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamChiTiet]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamChiTiet](
	[maSanPhamChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maSanPham] [nvarchar](20) NOT NULL,
	[maDonViTinh] [int] NOT NULL,
	[AnhSanPham] [varchar](100) NOT NULL,
	[hanSuDung] [date] NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaNhap] [float] NOT NULL,
	[donGia] [float] NOT NULL,
	[khoiLuong] [float] NOT NULL,
	[donViTinhKhoiLuong] [nvarchar](20) NOT NULL,
	[ngaySanXuat] [date] NOT NULL,
	[barcode] [varchar](50) NOT NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPhamChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[maThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[tenThuongHieu] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[maXuatXu] [int] IDENTITY(1,1) NOT NULL,
	[tenXuatXu] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maXuatXu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DongSanPham] ON 

INSERT [dbo].[DongSanPham] ([maDongSanPham], [tenDongSanPham], [ghiChu], [trangThai]) VALUES (1, N'Sữa bột', N'Mô tả cho sữa bột', 1)
INSERT [dbo].[DongSanPham] ([maDongSanPham], [tenDongSanPham], [ghiChu], [trangThai]) VALUES (2, N'Sữa tươi', N'Mô tả cho sữa tươi', 1)
INSERT [dbo].[DongSanPham] ([maDongSanPham], [tenDongSanPham], [ghiChu], [trangThai]) VALUES (3, N'Sữa không đường', N'Mô tả cho sữa không đường', 1)
SET IDENTITY_INSERT [dbo].[DongSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([maDonHang], [maKhachHang], [maNhanVien], [maHinhThucThanhToan], [trangThai], [ghiChu], [ngayTao], [phiKhac], [tienHang], [tienGiam], [tongTien], [loaiDonHang], [dienThoai], [diaChi]) VALUES (1, NULL, N'NV001', 1, 1, NULL, CAST(N'2023-12-03' AS Date), 0, 0, 0, 0, 4, N'', N'')
INSERT [dbo].[DonHang] ([maDonHang], [maKhachHang], [maNhanVien], [maHinhThucThanhToan], [trangThai], [ghiChu], [ngayTao], [phiKhac], [tienHang], [tienGiam], [tongTien], [loaiDonHang], [dienThoai], [diaChi]) VALUES (2, 1, N'NV001', 1, 1, NULL, CAST(N'2023-12-03' AS Date), 0, 1116000, 100000, 1016000, 4, N'0123456789', N'')
INSERT [dbo].[DonHang] ([maDonHang], [maKhachHang], [maNhanVien], [maHinhThucThanhToan], [trangThai], [ghiChu], [ngayTao], [phiKhac], [tienHang], [tienGiam], [tongTien], [loaiDonHang], [dienThoai], [diaChi]) VALUES (3, 1, N'NV001', 1, 1, NULL, CAST(N'2023-12-03' AS Date), 0, 889000, 50000, 839000, 4, N'0123456789', N'')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] ON 

INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [maSanPhamChiTiet], [soLuong], [donGia], [giaTriGiam], [donViGiam], [giaGiam], [tongGia], [trangThai], [traHang]) VALUES (1, 1, 3, 1, 225000, 0, N'', 225000, 0, 1, 1)
INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [maSanPhamChiTiet], [soLuong], [donGia], [giaTriGiam], [donViGiam], [giaGiam], [tongGia], [trangThai], [traHang]) VALUES (2, 1, 2, 1, 35000, 30, N'%', 24500, 0, 1, 1)
INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [maSanPhamChiTiet], [soLuong], [donGia], [giaTriGiam], [donViGiam], [giaGiam], [tongGia], [trangThai], [traHang]) VALUES (3, 2, 3, 1, 225000, 0, N'', 225000, 225000, 1, NULL)
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[DonViTinh] ON 

INSERT [dbo].[DonViTinh] ([maDonViTinh], [tenDonViTinh], [ghiChu], [trangThai]) VALUES (1, N'Hộp giấy', N'Description for Hộp', 1)
INSERT [dbo].[DonViTinh] ([maDonViTinh], [tenDonViTinh], [ghiChu], [trangThai]) VALUES (2, N'Chai', N'Description for Chai', 1)
INSERT [dbo].[DonViTinh] ([maDonViTinh], [tenDonViTinh], [ghiChu], [trangThai]) VALUES (3, N'Lọ', N'Description for Lọ', 1)
SET IDENTITY_INSERT [dbo].[DonViTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] ON 

INSERT [dbo].[HinhThucThanhToan] ([maHinhThucThanhToan], [tenHinhThucThanhToan]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[HinhThucThanhToan] ([maHinhThucThanhToan], [tenHinhThucThanhToan]) VALUES (2, N'Chuyển khoản')
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [diem], [ghiChu], [ngayDangKy]) VALUES (1, N'Nguyễn Thị Anh', 0, CAST(N'1992-03-12' AS Date), N'0123456789', N'thiAnh@gmail.com', 68, N'Ghi chú cho Khách hàng A', CAST(N'2022-01-05' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [diem], [ghiChu], [ngayDangKy]) VALUES (2, N'Trần Văn Bình', 1, CAST(N'1985-05-20' AS Date), N'0987654321', N'vanBinh@gmail.com', 46, N'Ghi chú cho Khách hàng B', CAST(N'2022-02-10' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [diem], [ghiChu], [ngayDangKy]) VALUES (3, N'Lê Thị Cam', 0, CAST(N'1990-08-15' AS Date), N'0345678901', N'thiCam@gmail.com', 71, N'Ghi chú cho Khách hàng C', CAST(N'2022-03-18' AS Date))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenChuongTrinh], [ngayBatDau], [ngayKetThuc], [moTa], [trangThai], [donViGiam], [giaTriGiam]) VALUES (N'KM01', N'Khuyến mãi mùa hè', CAST(N'2023-06-01' AS Date), CAST(N'2023-06-30' AS Date), N'Giảm giá cho sản phẩm mùa hè', 1, N'VND', 5000)
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenChuongTrinh], [ngayBatDau], [ngayKetThuc], [moTa], [trangThai], [donViGiam], [giaTriGiam]) VALUES (N'KM02', N'Khuyen mai ngay hoi Tre em', CAST(N'2023-05-20' AS Date), CAST(N'2023-06-02' AS Date), N'Giảm giá cho sản phẩm sữa cho trẻ', 1, N'VND', 50000)
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenChuongTrinh], [ngayBatDau], [ngayKetThuc], [moTa], [trangThai], [donViGiam], [giaTriGiam]) VALUES (N'KM03', N'Khuyen mai ngay Tet Doc lap', CAST(N'2023-08-25' AS Date), CAST(N'2023-09-05' AS Date), N'Giảm giá cho sản phẩm sữa', 1, N'VND', 30000)
GO
SET IDENTITY_INSERT [dbo].[KhuyenMaiSanPham] ON 

INSERT [dbo].[KhuyenMaiSanPham] ([maKhuyenMaiSanPham], [maKhuyenMai], [maSanPhamChiTiet], [trangThai]) VALUES (1, N'KM01', 1, 0)
INSERT [dbo].[KhuyenMaiSanPham] ([maKhuyenMaiSanPham], [maKhuyenMai], [maSanPhamChiTiet], [trangThai]) VALUES (2, N'KM02', 3, 1)
INSERT [dbo].[KhuyenMaiSanPham] ([maKhuyenMaiSanPham], [maKhuyenMai], [maSanPhamChiTiet], [trangThai]) VALUES (3, N'KM03', 6, 0)
SET IDENTITY_INSERT [dbo].[KhuyenMaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([maLoaiHang], [tenLoaiHang], [ghiChu], [trangThai]) VALUES (1, N'Cho trẻ em', N'Fresh cow milk', 1)
INSERT [dbo].[LoaiHang] ([maLoaiHang], [tenLoaiHang], [ghiChu], [trangThai]) VALUES (2, N'Cho người già', N'Fresh cow milk', 1)
INSERT [dbo].[LoaiHang] ([maLoaiHang], [tenLoaiHang], [ghiChu], [trangThai]) VALUES (3, N'Cho bà bầu', N'Fresh cow milk', 1)
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [matKhau], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [hinhAnh], [VaiTro], [trangThai], [ghiChu]) VALUES (N'NV001', N'123456', N'Nguyễn Văn An', 1, CAST(N'1990-01-15' AS Date), N'0999999999', N'nvA@gmail.com', N'avatar_A.jpg', 1, 1, N'Ghi chú cho Nhân viên An')
INSERT [dbo].[NhanVien] ([maNhanVien], [matKhau], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [hinhAnh], [VaiTro], [trangThai], [ghiChu]) VALUES (N'NV002', N'123456', N'Trần Thị Bình', 0, CAST(N'1995-03-20' AS Date), N'0988888888', N'nvB@gmail.com', N'avatar_B.jpg', 0, 1, N'Ghi chú cho Nhân viên Bình')
INSERT [dbo].[NhanVien] ([maNhanVien], [matKhau], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [email], [hinhAnh], [VaiTro], [trangThai], [ghiChu]) VALUES (N'NV003', N'123456', N'Lê Văn Cường', 1, CAST(N'1988-07-10' AS Date), N'0987777777', N'nvC@gmail.com', N'avatar_C.jpg', 1, 1, N'Ghi chú cho Nhân viên Cường')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [moTa], [trangThai], [maThuongHieu], [maLoaiHang], [maDongSanPham], [maXuatXu]) VALUES (N'SP01', N'Sữa bột Vinamilk Colos Gold', N'Mô tả cho Sữa Vinamilk', 1, 1, 1, 1, 7)
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [moTa], [trangThai], [maThuongHieu], [maLoaiHang], [maDongSanPham], [maXuatXu]) VALUES (N'SP011', N'Sữa Nuvi Grow 900g', N'Mô tả cho Sữa Vinamilk', 1, 7, 1, 1, 3)
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [moTa], [trangThai], [maThuongHieu], [maLoaiHang], [maDongSanPham], [maXuatXu]) VALUES (N'SP012', N' Thức Uống Lúa Mạch Nestlé MILO Sữa 3 Trong 1', N'Mô tả cho Sữa Vinamilk', 1, 2, 4, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] ON 

INSERT [dbo].[SanPhamChiTiet] ([maSanPhamChiTiet], [maSanPham], [maDonViTinh], [AnhSanPham], [hanSuDung], [soLuong], [giaNhap], [donGia], [khoiLuong], [donViTinhKhoiLuong], [ngaySanXuat], [barcode], [trangThai]) VALUES (1, N'SP01', 6, N'SP01.jpg', CAST(N'2026-12-31' AS Date), 38, 330000, 411000, 0.800000011920929, N'kg', CAST(N'2023-01-01' AS Date), N'8934673001137', 1)
INSERT [dbo].[SanPhamChiTiet] ([maSanPhamChiTiet], [maSanPham], [maDonViTinh], [AnhSanPham], [hanSuDung], [soLuong], [giaNhap], [donGia], [khoiLuong], [donViTinhKhoiLuong], [ngaySanXuat], [barcode], [trangThai]) VALUES (2, N'SP02', 1, N'SP02.jpg', CAST(N'2025-12-31' AS Date), 70, 28000, 35000, 1, N'L', CAST(N'2023-01-15' AS Date), N'8934673576390', 1)
INSERT [dbo].[SanPhamChiTiet] ([maSanPhamChiTiet], [maSanPham], [maDonViTinh], [AnhSanPham], [hanSuDung], [soLuong], [giaNhap], [donGia], [khoiLuong], [donViTinhKhoiLuong], [ngaySanXuat], [barcode], [trangThai]) VALUES (3, N'SP03', 6, N'SP03.jpg', CAST(N'2026-12-31' AS Date), 53, 195000, 225000, 0.34999999403953552, N'kg', CAST(N'2023-02-01' AS Date), N'8934673000284', 1)
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([maThuongHieu], [tenThuongHieu], [ghiChu], [trangThai]) VALUES (1, N'Vinamilk', N'Description for Vinamilk', 1)
INSERT [dbo].[ThuongHieu] ([maThuongHieu], [tenThuongHieu], [ghiChu], [trangThai]) VALUES (2, N'Nestle', N'Description for Nestle', 1)
INSERT [dbo].[ThuongHieu] ([maThuongHieu], [tenThuongHieu], [ghiChu], [trangThai]) VALUES (3, N'Dutch Lady', N'Description for Dutch Lady', 1)
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[XuatXu] ON 

INSERT [dbo].[XuatXu] ([maXuatXu], [tenXuatXu], [ghiChu], [trangThai]) VALUES (1, N'Vietnam', N'x', 1)
INSERT [dbo].[XuatXu] ([maXuatXu], [tenXuatXu], [ghiChu], [trangThai]) VALUES (2, N'United States', N'x', 1)
INSERT [dbo].[XuatXu] ([maXuatXu], [tenXuatXu], [ghiChu], [trangThai]) VALUES (3, N'China', N'x', 1)
SET IDENTITY_INSERT [dbo].[XuatXu] OFF
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maHinhThucThanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([maHinhThucThanhToan])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([maSanPhamChiTiet])
REFERENCES [dbo].[SanPhamChiTiet] ([maSanPhamChiTiet])
GO
ALTER TABLE [dbo].[KhuyenMaiSanPham]  WITH CHECK ADD FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[KhuyenMaiSanPham]  WITH CHECK ADD FOREIGN KEY([maSanPhamChiTiet])
REFERENCES [dbo].[SanPhamChiTiet] ([maSanPhamChiTiet])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maDongSanPham])
REFERENCES [dbo].[DongSanPham] ([maDongSanPham])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maLoaiHang])
REFERENCES [dbo].[LoaiHang] ([maLoaiHang])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([maThuongHieu])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maXuatXu])
REFERENCES [dbo].[XuatXu] ([maXuatXu])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([maDonViTinh])
REFERENCES [dbo].[DonViTinh] ([maDonViTinh])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
/****** Object:  StoredProcedure [dbo].[doanhThuTheoNgay]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[doanhThuTheoNgay]
-- add more stored procedure parameters here
@doanhThu float output,
@donHangThanhCong int output,
@donHangThatBai int output
AS
BEGIN
    -- body of the stored procedure
    set @doanhThu = (
    SELECT
        SUM(DonHang.tongTien) 
    FROM
        DonHang
    where 
        ngayTao = CAST(GETDATE() as date)
    AND
        DonHang.trangThai = 1
    ) - 
    (
    SELECT
        SUM(SanPhamChiTiet.giaNhap * DonHangChiTiet.soLuong)
    FROM
        DonHang
    INNER JOIN
        DonHangChiTiet ON DonHang.maDonHang = DonHangChiTiet.maDonHang
    INNER JOIN
        SanPhamChiTiet ON DonHangChiTiet.maSanPhamChiTiet = SanPhamChiTiet.maSanPhamChiTiet
    where 
        ngayTao = CAST(GETDATE() as date)
    AND
        DonHang.trangThai = 1
    AND
        DonHangChiTiet.trangThai = 1
    )
    print @doanhThu
    set @donHangThanhCong = (select count(maDonHang) from DonHang where trangThai = 1 and ngayTao = CAST(GETDATE() as date));
    set @donHangThatBai = (select count(maDonHang) from DonHang where trangThai = 0 and ngayTao = CAST(GETDATE() as date));
END
GO
/****** Object:  StoredProcedure [dbo].[doanhThuTheoThang]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[doanhThuTheoThang]
@doanhThu float output,
@donHangThanhCong int output,
@donHangThatBai int output
AS
BEGIN
    -- body of the stored procedure
    set @doanhThu = (
    SELECT
        SUM(DonHang.tongTien) 
    FROM
        DonHang
     where 
        MONTH(ngayTao) = MONTH(GETDATE()) 
    AND 
        YEAR(ngayTao) = YEAR(GETDATE())
    AND
        DonHang.trangThai = 1
    ) - 
    (
    SELECT
        SUM(SanPhamChiTiet.giaNhap * DonHangChiTiet.soLuong)
    FROM
        DonHang
    INNER JOIN
        DonHangChiTiet ON DonHang.maDonHang = DonHangChiTiet.maDonHang
    INNER JOIN
        SanPhamChiTiet ON DonHangChiTiet.maSanPhamChiTiet = SanPhamChiTiet.maSanPhamChiTiet
    where 
        MONTH(ngayTao) = MONTH(GETDATE()) 
    AND 
        YEAR(ngayTao) = YEAR(GETDATE())
    AND
        DonHang.trangThai = 1
    AND
        DonHangChiTiet.trangThai = 1
    )
    set @donHangThanhCong = (select count(maDonHang) from DonHang where trangThai = 1 and MONTH(ngayTao) = MONTH(GETDATE()) 
    AND 
        YEAR(ngayTao) = YEAR(GETDATE()));
    set @donHangThatBai = (select count(maDonHang) from DonHang where trangThai = 0 and MONTH(ngayTao) = MONTH(GETDATE()) 
    AND 
        YEAR(ngayTao) = YEAR(GETDATE()));
END
GO
/****** Object:  StoredProcedure [dbo].[doanhThuTheoThangChiTiet]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[doanhThuTheoThangChiTiet]
    @Year INT
AS
BEGIN
    SELECT
        MONTH(DonHang.ngayTao) AS Thang,
        SUM(DonHang.tongTien) - SUM(SanPhamChiTiet.giaNhap * DonHangChiTiet.soLuong) AS DoanhThu,
        COUNT(DISTINCT DonHang.maDonHang) AS SoDonHang,
        (SUM(DonHang.tongTien) - SUM(SanPhamChiTiet.giaNhap * DonHangChiTiet.soLuong)) / DAY(EOMONTH(DATEFROMPARTS(@Year, MONTH(DonHang.ngayTao), 1))) AS DoanhThuTrungBinh
    FROM
        DonHang
    INNER JOIN
        DonHangChiTiet ON DonHang.maDonHang = DonHangChiTiet.maDonHang
    INNER JOIN
        SanPhamChiTiet ON DonHangChiTiet.maSanPhamChiTiet = SanPhamChiTiet.maSanPhamChiTiet
    WHERE
        YEAR(DonHang.ngayTao) = @Year
    AND
        DonHang.trangThai = 1
    AND
        DonHangChiTiet.trangThai = 1
    GROUP BY
        MONTH(DonHang.ngayTao)
    ORDER BY
        Thang;
END;
GO
/****** Object:  StoredProcedure [dbo].[donHangTheoThang]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[donHangTheoThang]
    @Year INT
AS
BEGIN
    SELECT
        MONTH(ngayTao) AS Thang,
        SUM(CASE WHEN loaiDonHang = 4 AND trangThai = 1 THEN 1 ELSE 0 END) AS TaiQuayThanhCong,
        SUM(CASE WHEN loaiDonHang = 2 AND trangThai = 1 THEN 1 ELSE 0 END) AS OnlineThanhCong,
        SUM(CASE WHEN trangThai = 0 THEN 1 ELSE 0 END) AS BiHuy
    FROM
        DonHang
    WHERE
        YEAR(ngayTao) = 2023
    GROUP BY
        MONTH(ngayTao)
    ORDER BY
        Thang;
END;
GO
/****** Object:  StoredProcedure [dbo].[KhachHangTheoDoTuoi]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHangTheoDoTuoi]
AS
BEGIN
    DECLARE @Tu18Den30 INT, @Tu30Den50 INT, @Tu50TroLen INT;

    -- Gán giá trị cho biến
    Set
        @Tu18Den30 = (select COUNT(*) FROM KhachHang WHERE DATEDIFF(YEAR, ngaySinh, GETDATE()) BETWEEN 18 AND 30);

    Set
        @Tu30Den50 = (select COUNT(*) FROM KhachHang WHERE DATEDIFF(YEAR, ngaySinh, GETDATE()) BETWEEN 30 AND 50);

    Set
        @Tu50TroLen = (select COUNT(*) FROM KhachHang WHERE DATEDIFF(YEAR, ngaySinh, GETDATE()) >= 50);

    -- Trả kết quả
    SELECT
        tu18den30 = @Tu18Den30,
        tu30den50 = @Tu30Den50,
        tu50trolen = @Tu50TroLen;
END;
GO
/****** Object:  StoredProcedure [dbo].[KhachHangTheoGioiTinh]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHangTheoGioiTinh]
AS
BEGIN
    DECLARE @Nam INT, @Nu INT;

    -- Gán giá trị cho biến
    Set
        @Nam = (select COUNT(*) FROM KhachHang WHERE gioiTinh = 1);

    SEt
        @Nu = (select COUNT(*) FROM KhachHang WHERE gioiTinh = 0);

    -- Trả kết quả
    SELECT
        SLNam = @Nam,
        SLNu = @Nu;
END;
GO
/****** Object:  StoredProcedure [dbo].[SanPhamTheoLuotBan]    Script Date: 12/3/2023 10:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SanPhamTheoLuotBan]
    @MaLoaiHang INT = NULL,
    @MaDongSanPham INT = NULL,
    @MaThuongHieu INT = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SELECT
        spct.maSanPhamChiTiet,
        sp.tenSanPham,
        dt.tenDonViTinh,
        spct.trangThai,
        spct.soLuong,
        lh.tenLoaiHang,
        dsp.tenDongSanPham,
        th.tenThuongHieu,
        LuotBan = (
            SELECT SUM(ISNULL(dhct.soLuong, 0))
            FROM DonHangChiTiet dhct
            LEFT JOIN DonHang dh ON dhct.maDonHang = dh.maDonHang
            WHERE spct.maSanPhamChiTiet = dhct.maSanPhamChiTiet
                AND (@StartDate IS NULL OR dh.ngayTao >= @StartDate)
                AND (@EndDate IS NULL OR dh.ngayTao <= @EndDate)
        ),
        spct.donGia
    FROM
        SanPhamChiTiet spct
    INNER JOIN
        SanPham sp ON spct.maSanPham = sp.maSanPham
    INNER JOIN
        DonViTinh dt ON spct.maDonViTinh = dt.maDonViTinh
    INNER JOIN
        LoaiHang lh ON sp.maLoaiHang = lh.maLoaiHang
    INNER JOIN
        DongSanPham dsp ON sp.maDongSanPham = dsp.maDongSanPham
    INNER JOIN
        ThuongHieu th ON sp.maThuongHieu = th.maThuongHieu
    WHERE
        (@MaLoaiHang IS NULL OR sp.maLoaiHang = @MaLoaiHang) AND
        (@MaDongSanPham IS NULL OR sp.maDongSanPham = @MaDongSanPham) AND
        (@MaThuongHieu IS NULL OR sp.maThuongHieu = @MaThuongHieu)
    ORDER BY
        LuotBan DESC;
END;

GO
